body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100vh;
  background: url("./img/bg.jpg");
}

.question{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  margin: 0;
  font-size: 100px;
  color: white;
  top: 20%;
  margin-left: 0.5em;
}

#finish{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

input[type=text], input[type=number]{
  position: absolute;
  bottom: 200px;
  margin-left: 0.5em;
  width: 1000px;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  border-radius: 8px;
  border: 0;
}

input[type=checkbox]{
  cursor: pointer;
}

input[type=submit]{
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}

input[type=submit]:hover{
  background: black;
  color: white;
  border-radius: 0px;
}

#special{
  position: static;
}

#polis{
  margin-left: 700px;
}

label{
  color: white;
  font-family:"Montserrat", sans-serif;
  font-size: 30px;
  margin-right: 10px;
}

.cb{
  position: absolute;
  top: 55%;
  margin-left: 20px;
  width: 100%;
}

.fas{
  position: absolute;
  bottom: 5px;
  font-size: 100px;
  color: white;
  background: transparent;
  cursor: pointer;
}

.fa-arrow-circle-left{
  left: 5px;
}

.fa-arrow-circle-right{
  right: 5px;
}

#valq{
  top: 5%;
}

#majorv, #yearv,#housingv,#politicalv,#interestv{
  width: 150px;
  font-size: 35px;
}

#yearv{
  margin-left: 200px;
}

#housingv{
  margin-left: 375px;
}

#politicalv{
  margin-left: 550px;
}

#interestv{
  margin-left: 725px;
}
